{% extends "core/layout.html" %}

{% block title %}
  {% if is_own_profile %}{{ profile_user.get_role_display }} Dashboard{% else %}{{ profile_user.full_name }}'s Profile{% endif %}
{% endblock %}

{% block content %}
<div class="bg-gray-50 min-h-screen p-6">
  {% include "accounts/components/header.html" %}

  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-4 xl:col-span-4">
  
      <div class="mt-2">
        {% include "accounts/components/profile_card.html" %}
      </div>
      
      {% if is_own_profile %}
        <div class="-mt-2 relative z-10">
          {% include "courses/components/upcoming_deadlines.html" %}
        </div>
      {% endif %}

    </div>

    <div class="col-span-8 space-y-4">
      
      {% include "accounts/components/dashboard_tabs.html" %}

      {% if tab == "my_courses" or not tab %}
        
        {% if profile_user.is_teacher %}
          {% if is_own_profile %}
            {% include "courses/components/teacher_overview_strip.html" %}
          {% endif %}
          {% include "courses/components/teacher_courses.html" %}
        {% else %}
          {% include "courses/components/student_courses.html" %}
        {% endif %}

      {% elif tab == "all_courses" and is_own_profile %}
        
        {% include "courses/components/all_courses.html" %}

      {% elif tab == 'status' and request.user.is_authenticated %}
        
        {% include "status/status_feed.html" %}

      {% endif %}

    </div>
  </div>
</div>

{% if is_own_profile %}

  {% include "accounts/components/profile_edit_modal.html" %}
  {% if profile_user.is_teacher %}
    {% include "courses/components/course_create_modal.html" %}
    {% include "courses/components/course_edit_modal.html" %}
  {% endif %}

{% endif %}

{% include "chat/chat_modal.html" %}
{% include "accounts/components/search_modal.html" %}

{% endblock %}